#texto-container {
    overflow: hidden;
    border-right: .15em solid orange; /* Puedes cambiar el estilo del cursor aquí */
    white-space: pre;
    animation:
        typing 3s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: 100%;
    background-color: black; /* Fondo gris */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
